@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
